@import "./src/style/mixins";
.header {
  @include small() {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 16px 5px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  max-width: 100%;
  margin: 0 70px;
  color: #444444;
  & img {
    height: 25px;
    width: 125px;
  }
}
